<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/788a38bc-de28-436a-b135-5f02edccfb55/resourcegroups/NewHMS/providers/Microsoft.Web/sites/HMSAhsan</ResourceId>
    <ResourceGroup>NewHMS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hmsahsan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hmsahsan.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HMSAhsan</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HMSAhsan</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ahashanmssql.database.windows.net,1433;Initial Catalog=hms;Persist Security Info=True;User ID=ahashans;Password=^10h^M0r^" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HMS.Models.ApplicationDbContext, HMS" MigrationConfiguration="HMS.Migrations.Configuration, HMS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ahashanmssql.database.windows.net,1433;Initial Catalog=hms;Persist Security Info=True;User ID=ahashans;Password=^10h^M0r^</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>