@model IEnumerable<HMS.Models.Department>
@{
    ViewBag.Title = "AllDepartments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Departments</h2>
<div class="">
    <div class="jumbotron">
        <h3>All Departments</h3>
        <table class="table table-bordered table-responsive table-hover table-striped">
            <tr>
                <th>Name</th>
                <th>Fee</th>
            </tr>
            @foreach (var dept in Model)
            {
                <tr>
                    <td>@dept.Name</td>
                    <td>@dept.Fee</td>
                </tr>
            }
        </table>
    </div>
</div>

