body {
    padding-top: 50px;
    padding-bottom: 20px;
/*    background: linear-gradient(cadetblue, darkcyan);*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#Footer {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    padding-top: 1%;
/*    padding: 20px 20px 30px 20px;*/
/*    background-color: #123;*/
    
/*    color: #321;*/
}
footer {
/*    background: linear-gradient(crimson, aquamarine);*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9edf2+40,add9e4+100 */
    background: rgb(217,237,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9edf2', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */
    padding-top: 1%;
}
hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
html, body {
    height: 100%;
    color: #2667c8;
}

body {
    display: flex;
    flex-direction: column;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.content {
    flex: 1 0 auto;
}
.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.validation-summary-errors {
    color: red;
}