body {
    padding-top: 50px;
    padding-bottom: 20px;
/*    background: linear-gradient(cadetblue, darkcyan);*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#Footer {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    padding-top: 1%;
/*    padding: 20px 20px 30px 20px;*/
/*    background-color: #123;*/
    
/*    color: #321;*/
}
footer {
    background: #EC6F66;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 5px;
}
hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
html, body {
    height: 100%;
    
}

body {
    display: flex;
    flex-direction: column;
    background: #FC354C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #333;
}
.content {
    flex: 1 0 auto;
}
.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.validation-summary-errors {
    color: red;
}