body {
    padding-top: 50px;
    padding-bottom: 20px;
/*    background: linear-gradient(cadetblue, darkcyan);*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#Footer {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    padding-top: 1%;
/*    padding: 20px 20px 30px 20px;*/
/*    background-color: #123;*/
    
/*    color: #321;*/
}
footer {

}
hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
html, body {
    height: 100%;
    
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    color: #333;
}
.content {
    flex: 1 0 auto;
}
.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.validation-summary-errors {
    color: red;
}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

