<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="Admin/Index">Admin
        <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Create User","CreateUser","Admin")</li>
    </ul>
</li>
