<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="Admin/Index">Admin
        <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
        <li>@Html.ActionLink("Create User", "CreateUser", "Admin")</li>
        <li>@Html.ActionLink("Create Department", "CreateDepartment", "Admin")</li>
        <li>@Html.ActionLink("All Departments", "AllDepartments", "Admin")</li>
    </ul>
</li>
