<li class="header">Doctor Menu</li>
<li class="active"><a href="@Url.Action("Index","Doctor")"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
@* <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> *@
<li class="treeview">
    <a href="#">
        <i class="fa fa-link"></i> <span>Patient Management</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("CreateDiagnosis","Doctor")">Diagnose Patient</a></li>
        <li><a href="@Url.Action("ViewDiagnosis","Doctor")">View Patient Diagnosis</a></li>
    </ul>
</li>
