<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="Doctor/Index">Doctor<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Home", "Index", "Doctor")</li>
        <li>@Html.ActionLink("Diagnose Patient", "CreateDiagnosis", "Doctor")</li>

    </ul>
</li>

