<li class="header">Patient Menu</li>
<li class="active"><a href="@Url.Action("Index","Patient")"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
@* <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> *@
<li class="treeview">
    <a href="#">
        <i class="fa fa-link"></i> <span>Ticket and Diagnosis Reports</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("ViewAllDiagnosis", "Patient")">View All Diagnosis</a></li>
        <li><a href="@Url.Action("ViewAllTickets", "Patient")">View Tickets</a></li>
    </ul>
</li>
