<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="Patient/Index">Patient<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Home", "Index", "Patient")</li>
        <li>@Html.ActionLink("View All Diagnosis", "ViewAllDiagnosis", "Patient")</li>
        <li>@Html.ActionLink("View All Tickets", "ViewAllTickets", "Patient")</li>
    </ul>
</li>
