<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="Receptionist/Index">
        Receptionist
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Receptionist Home", "Index", "Receptionist")})</li>
    </ul>
</li>

