
@{
    ViewBag.Title = "Tickets";
    ViewBag.SubTitle = "View All Tickets";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section css{
<!-- DataTables -->
<link rel="stylesheet" href="~/admin-lte/datatables.net-bs/css/dataTables.bootstrap.min.css">
}
<h2>@ViewBag.SubTitle</h2>
<br />
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">All @ViewBag.Title</h3>
    </div>
    <div class="alert alert-dismissable">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="ticketTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Bill Amount</th>
                    <th>Payment Method</th>
                    <th>Card Number</th>
                    <th>Payment Date</th>
                    <th>Ticket Status</th>
                    <th>Ticket Created By</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Department</th>
                    <th>Bill Amount</th>
                    <th>Payment Method</th>
                    <th>Card Number</th>
                    <th>Payment Date</th>
                    <th>Ticket Status</th>
                    <th>Ticket Created By</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<input id="patientId" type="text" value="@ViewBag.patientId" hidden />
@section scripts
{
    <!-- DataTables -->
    <script src="~/admin-lte/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/admin-lte/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            function getTickets(patientId) {
                var table = $("#ticketTable").DataTable({
                    serverSide: false,
                    processing: false,
                    destroy: true,
                    ajax: {
                        type: "POST",
                        url: "/Patient/GetTickets",
                        data: { patientid: patientId },
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "Department",
                            render: function (data) {
                                return data.Name;
                            }
                        }, {
                            data: "BillAmount"

                        }, {
                            data: "PaymentMethod"
                        }, {
                            data: "CardNumber"
                        }, {
                            data: "PaymentTimeStamp",
                            render: function (data) {
                                return moment(data).format("DD-MMM-YYYY");
                            }
                        }, {
                            data: "TicketStatus"
                        }, {
                            data: "ReceptionistUser",
                            render: function (data, type, ticket) {
                                return data.FullName;
                            }
                        }
                    ]
                });
                table.draw();
            }

            getTickets($("#patientId").val());
        });
    </script>
}
