@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XYZ Hospital</h1>
    <p class="lead">Xyz Hospital is bla bla bla bla bla bla bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla bla.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Doctors</h2>
        <p>
            We hire World Class doctors
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">See All Doctors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Facilities</h2>
        <p>We don't compromize when it is the matter of facility.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Patient Story</h2>
        <p>Here are some lovely patient stories.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>