@model HMS.ViewModel.ReceptionistIndexViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.TicketCount</h3>
                <p>Tickets Processed</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            @* <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> *@
        </div>
    </div>
    <!-- ./col -->
   
</div>
<!-- /.row -->
